:root {
  --main-font-family: "Tahoma";
  --bg-color-1: #ffffff;
  --bg-color-2: #f2f5f5;
  --bg-color-3: #09b1ba;
  --bg-color-3b: #2cd9ca;
  --bg-color-4: #d3d3d3;
  --bg-color-5: #822774;
  --bg-color-6: #8f3d82;
  --bg-color-7: #36054f;
  --font-color-1: #000000;
  --font-color-2: #868a8a;
  --font-color-3: #0bcdbd;
  --font-color-4: #ff8102;
  --font-color-5: #ffffff;
  --font-color-6: #bbbbbb;
  --main-line-color: greenyellow;
  --other-line-color: orange;

  --category-meals-gap: 10px;
  --mobile-container-padding: 0.5dvw;
  --meal-box-padding: 10px;

  --basket-section-vertical-padding: 15px;
  --basket-button-base-height: 60px;

  // Media query breakpoints
  --phone-max-width: 767px;
  --tablet-min-width: 768px;
  --tablet-max-width: calc(var(--desktop-min-width) -1);
  --small-desktop-min-width: 1024;

  font-size: 12px;
  color: var(--font-color-1);
  font-family: var(--main-font-family);
  background-color: var(--bg-color-1);
}

.avatar {
  width: 40px;
}

.container {
  width: 100%;
}

.header {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  gap: 3dvw;
  align-items: stretch;

  .website-logo {
    font-size: 3em;
    font-weight: 700;
    color: var(--font-color-3);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;

    .search-field {
      min-height: 3rem;
      display: flex;
      align-items: center;
      gap: 5px;
      background: var(--bg-color-2);
      padding: 10px;
      border-radius: 5px;
      input {
        font-size: 1.2em;
        width: 100%;
        background: var(--bg-color-2);
        border-width: 0;
        &::placeholder {
          color: var(--font-color-6);
        }
      }
      .icon-place-holder {
        font-size: 1.2em;
        color: var(--font-color-6);
      }
    }

    .quick-search-filters {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4dvw;
      .sort-by-price-switch {
      }
      .price-range-bar {
        display: flex;
        justify-content: end;
        flex-grow: 1;
      }
    }
  }

  .header-icons-zone {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon-type-1 {
      color: var(--font-color-3);
    }

    .icon-user-login {
      font-size: 2.5em;
    }

    .icon-start-posting {
      font-size: 2.5em;
    }
  }

  .header-buttons-zone {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      padding: 0.4em;
    }

    .header-button-type-1 {
      color: var(--font-color-3);
      background: var(--bg-color-1);
      border: 1px solid var(--font-color-3);
      border-radius: 5px;
      margin-right: 20px;
    }

    .header-button-type-2 {
      color: var(--font-color-5);
      background: var(--bg-color-3);
      border: 1px solid var(--font-color-3);
      border-radius: 5px;
      margin-left: 40px;
    }
  }
}

.banner-section {
  border: 0.5px solid white;
}

.banner-section::before {
  content: "banner-section";
}

.loading {
  text-decoration: blink;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.loading {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.items-showcase {
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid white;
}

.item {
  border: 1px solid #000;
}

/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */

@media (max-width: 767px) {
  :root::before {
    content: "[phone]";
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    color: white;
    background: orangered;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header {
    .sort-by-price-switch,
    .price-range-bar {
      display: flex;
      gap: 10px;
    }

    .header-mobile-only {
      display: flex;
    }
    .header-desktop-only {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  :root::before {
    content: "[tablet]";
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    color: white;
    background: orangered;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header {
    gap: 8dvw;

    .header-mobile-only {
      display: none;
    }
    .header-desktop-only {
      display: flex;
    }
  }
}

@media (min-width: 1124px) {
  :root::before {
    content: "[desktop]";
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  :root::before {
    content: "[large-desktop]";
  }
}
