:root {
  --main-font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  --bg-color-1: #ffffff;
  --bg-color-2: #f2f5f5;
  --bg-color-3: #09b1ba;
  --bg-color-3b: #07a0a8;
  --bg-color-3c: #068d94;
  --bg-color-4: #d3d3d3;
  --bg-color-5: #822774;
  --bg-color-6: #8f3d82;
  --bg-color-7: #36054f;
  --bg-color-8a: #f64343;
  --bg-color-8b: #d43939;
  --bg-color-8c: #bd3333;
  --font-color-1: #000000;
  --font-color-2: #868a8a;
  --font-color-3: #0bcdbd;
  --font-color-4: #ff8102;
  --font-color-5: #ffffff;
  --font-color-6: #bbbbbb;
  --main-line-color: greenyellow;
  --other-line-color: orange;

  font-size: 12px;
  color: var(--font-color-1);
  font-family: var(--main-font-family);
  background-color: var(--bg-color-1);
}

:root::before {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: white;
  background: orangered;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  position: relative;
}

.main-container,
.offer-page-container {
  margin: 0 auto;
  width: 95%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}

.link:hover {
  cursor: pointer;
}

.app {
  position: relative;
}

.header {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  gap: 3dvw;
  align-items: stretch;
  margin-bottom: 30px;
}

.haeder-logo-block {
  display: flex;
  flex-direction: column;
  justify-content: top;
  & p {
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
    color: var(--font-color-3);
    flex-grow: 0;
    padding: 0;
    border: 1px solid #000;
  }
}

.search-zone {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.search-field {
  min-height: 3rem;
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--bg-color-2);
  padding: 10px;
  border-radius: 5px;

  input {
    font-size: 1.2em;
    width: 100%;
    background: var(--bg-color-2);
    border-width: 0;
    &::placeholder {
      color: var(--font-color-6);
    }
  }

  .icon-place-holder {
    font-size: 1.2em;
    color: var(--font-color-6);
  }
}

.quick-search-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4dvw;
}

.sort-by-price-switch {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-range-bar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  gap: 10px;
}

.header-user-zone {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-username {
  color: var(--font-color-3);
  font-weight: 500;
  padding: 3px;
}

.header-icons-zone {
  // border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .icon-start-posting,
  .icon-user-login {
    font-size: 2.5em;
    flex-shrink: 0;
  }
}

.icon-type-1 {
  color: var(--font-color-3);
  &:hover {
    color: var(--bg-color-3b);
  }
  &:active {
    color: var(--bg-color-3c);
  }
}

.modal-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection-modal-window {
  background: var(--bg-color-1);
  border-radius: 5px;
  font-size: 1.5em;
  min-height: 40dvh;
  width: 80dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-radius: 10px;
  padding: 1em;
  & form {
    font-size: 0.9em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    & .connection-form-label,
    .signup-form-label {
      font-weight: 700;
    }
    & input {
      align-self: stretch;
      border-width: 0 0 1px 0;
      border-color: #0bcdbd;
    }
    & .form-text {
      color: #068d94;
    }
  }
}

.modal-show {
  display: flex;
}
.modal-hide {
  display: none;
}

.header-buttons-zone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1dvw;

  button {
    flex-shrink: 0;
    padding: 0.4em;
    &:last-child {
      margin-left: 2dvw;
    }
  }
}

.button-type-1 {
  color: var(--font-color-3);
  background: var(--bg-color-1);
  border: 1px solid var(--font-color-3);
  border-radius: 5px;
  &:hover {
    color: var(--font-color-5);
    background: var(--bg-color-3);
    border: 1px solid var(--bg-color-3);
  }
  &:active {
    color: var(--font-color-5);
    background: var(--bg-color-3c);
    border-color: var(--bg-color-3c);
  }
}

.button-type-2 {
  color: var(--font-color-5);
  background: var(--bg-color-3);
  border: 1px solid var(--bg-color-3);
  border-radius: 5px;
  &:hover {
    background: var(--bg-color-3b);
    border-color: var(--bg-color-3b);
  }
  &:active {
    background: var(--bg-color-3c);
    border-color: var(--bg-color-3c);
  }
}

.button-type-3 {
  color: var(--font-color-5);
  background: var(--bg-color-8a);
  border: 1px solid var(--bg-color-8a);
  border-radius: 5px;
  &:hover {
    background: var(--bg-color-8b);
    border-color: var(--bg-color-8b);
  }
  &:active {
    background: var(--bg-color-8c);
    border-color: var(--bg-color-8c);
  }
}

.banner-section {
  border: 0.5px solid white;
}

.loading {
  text-decoration: blink;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.loading {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.items-showcase {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.offer-card {
  flex-basis: 34%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
  }
}

.card-owner {
  display: flex;
  .card-avatar {
    width: 30px;
  }
  .card-username {
  }
}

.card-image {
  // height: 70dvw;
  width: 100%;
  aspect-ratio: 3 / 4;

  overflow: hidden;
  display: flex;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.offer-back-button {
  button {
    margin-bottom: 10px;
  }
}

.offer-main-picture {
  aspect-ratio: 3 / 4;
  overflow: hidden;
  display: flex;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.offer-information {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .top {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.offer-price {
  font-size: 1.4em;
}

.offer-details-block {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.offer-detail {
  display: flex;
  flex-basis: 100%;
  // justify-content: space-between;
}

.offer-detail-key {
  flex-basis: 50%;
}

.offer-detail-value {
  flex-basis: 50%;
  text-align: left;
}

.offer-name {
  font-size: 1.5em;
  font-weight: 500;
}

.offer-description {
  color: var(--font-color-2);
}

.offer-owner-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offer-owner-avatar {
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.offer-owner-username {
  font-size: 1.2em;
}

.offer-buy-button {
  display: flex;
  button {
    height: 2.5em;
    font-size: 1.2em;
    flex-grow: 1;
  }
}

.publish-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  .form-inner-section {
    display: flex;
    flex-direction: column;
  }
}

textarea {
  resize: none;
  min-width: 100%;
}

/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */

@media (max-width: 767px) {
  :root {
    scrollbar-width: none;
  }
  :root::before {
    content: "[phone]";
  }

  .header {
    .header-mobile-only {
      display: flex;
    }
    .header-desktop-only {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  :root::before {
    content: "[tablet]";
  }

  .header {
    gap: 6dvw;

    .header-mobile-only {
      display: none;
    }
    .header-desktop-only {
      display: flex;
    }
  }

  .offer-card {
    flex-basis: 26dvw;
  }

  .card-image {
    // height: 70dvw;
    width: 100%;
    aspect-ratio: 3 / 4;

    overflow: hidden;
    display: flex;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (min-width: 940px) {
  :root::before {
    content: "[small-desktop]";
  }

  .quick-search-filters {
    gap: 4dvw;
  }

  .sort-by-price-switch {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .price-range-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .offer-card {
    flex-basis: 21%;
  }
}

@media (min-width: 1124px) {
  :root::before {
    content: "[desktop]";
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  :root::before {
    content: "[large-desktop]";
  }
}
