@import "../assets/fonts.css";

:root {
  --main-font-family: "Hack-Reg";
  /* --bg-color-1: #ffffff; */
  --bg-color-1: #373737;
  --bg-color-2: #f2f5f5;
  --bg-color-3: #0bcdbd;
  --bg-color-3b: #2cd9ca;
  --bg-color-4: #d3d3d3;
  --bg-color-5: #822774;
  --bg-color-6: #8f3d82;
  --bg-color-7: #36054f;
  --font-color-1: #2e3333;
  --font-color-2: #868a8a;
  --font-color-3: #0bcdbd;
  --font-color-4: #ff8102;
  --font-color-5: #ffffff;

  --main-line-color: greenyellow;
  --other-line-color: orange;

  --category-meals-gap: 10px;
  --mobile-container-padding: 0.5dvw;
  --meal-box-padding: 10px;

  --basket-section-vertical-padding: 15px;
  --basket-button-base-height: 60px;

  font-size: 11px;
  color: var(--font-color-3);
  font-family: var(--main-font-family);
  background-color: var(--bg-color-1);
}

.generic-component {
  border: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.container {
  width: 100%;
}

.header {
  &::before {
    // content: "header";
  }
  border: 0.5px solid white;
  display: flex;
  justify-content: space-between;

  .search-zone {
    display: flex;
    flex-direction: column;
    .quick-search-filters {
      display: flex;
      flex-direction: row;
    }
  }

  .header-buttons-zone {
    display: flex;
    border: 1px solid #000;
    .header-button-type-1 {
    }
    .header-button-type-2 {
    }
  }
}

.banner-section {
  &::before {
    content: "banner-section";
  }
  border: 0.5px solid white;
}

.item-showcase {
  &::before {
    content: "item-showvase";
  }
  border: 0.5px solid white;
}

.item-page {
  &::before {
    content: "item-page";
  }
}

/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */
/* ### */

@media (max-width: 768px) {
  :root::before {
    content: "...768px";
  }

  .mobile-only {
    display: flex;
  }

  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  :root::before {
    content: "768px...";
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}

@media (min-width: 886px) {
  :root::before {
    content: "886px...";
  }
}

@media (min-width: 1124px) {
  :root::before {
    content: "1124px...";
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  :root::before {
    content: "1440px...";
  }
}
